# BMIS-2542: Data Programming Essentials with Python 
##### Katz Graduate School of Business, Spring 2021


## Session-3: Practice Exercise
<br>
<br>

This exercise is based on the [Provisional COVID-19 Death Counts by Sex, Age, and State Dataset](https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-by-Sex-Age-and-S/9bhg-hcku) published by CDC.

First, visit the web page and study the dataset description.

Then, use the `covid19_provincial.csv` file available on Canvas to work on the following analyses.

<br>

Import `Pandas` and `numpy` modules.

In [2]:
import pandas as pd
import numpy as np

Using Panda's `read_csv()` function, load the `covid19_provincial.csv` data file into a data frame (e.g., df).<br>Print out the first 3 records of the data frame.

In [8]:
df = pd.read_csv('covid19_provincial.csv', na_values = '?')
df.head(3)

,data_as_of,start_date,end_date,state,sex,age_group,covid-19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid-19_deaths,influenza_deaths,pneumonia_influenza_or_covid-19_deaths
0,02/03/2021,01/01/2020,01/30/2021,United States,All Sexes,All Ages,421378,3509397,374722,199396,8808,604353
1,02/03/2021,01/01/2020,01/30/2021,United States,All Sexes,Under 1 year,44,19044,205,7,21,263
2,02/03/2021,01/01/2020,01/30/2021,United States,All Sexes,0-17 years,186,33504,558,32,176,888

Obtain a summary of the data frame using `DataFrame.info()`. Examine the data type of the variables.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2661 entries, 0 to 2660
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   data_as_of                              2661 non-null   object
 1   start_date                              2661 non-null   object
 2   end_date                                2661 non-null   object
 3   state                                   2661 non-null   object
 4   sex                                     2661 non-null   object
 5   age_group                               2661 non-null   object
 6   covid-19_deaths                         2661 non-null   int64
 7   total_deaths                            2661 non-null   int64
 8   pneumonia_deaths                        2661 non-null   int64
 9   pneumonia_and_covid-19_deaths           2661 non-null   int64
 10  influenza_deaths                        2661 non-null   int64
 11  pneumonia_influenza_or_covid-19_deaths  2661 non-null   int64
dtypes: int64(6), object(6)
memory usage: 249.6+ KB

Examine the shape of the data frame. How many rows are there? How many columns are there?

In [11]:
df.shape

(2661, 12)

Obtain a list of columns in the data frame.

In [13]:
list(df.columns)

['data_as_of',
 'start_date',
 'end_date',
 'state',
 'sex',
 'age_group',
 'covid-19_deaths',
 'total_deaths',
 'pneumonia_deaths',
 'pneumonia_and_covid-19_deaths',
 'influenza_deaths',
 'pneumonia_influenza_or_covid-19_deaths']

Create the new data frame `df_clean` with all rows from `df` where `state` is not `United States` and `sex` is not `All Sexes` and `age_group` is one of the following: `'0-17 years','18-29 years','30-49 years','50-64 years','65-74 years','75-84 years', '85 years and over']`. Examine its shape.

Hint. You can use the `isin()` function check if a given age group is included in the required list of age groups.

In [16]:
# create a list of required age groups
age_groups = ['0-17 years','18-29 years','30-49 years','50-64 years','65-74 years','75-84 years', '85 years and over']
age_groups

['0-17 years',
 '18-29 years',
 '30-49 years',
 '50-64 years',
 '65-74 years',
 '75-84 years',
 '85 years and over']

In [17]:
# select records for df_clean
df_clean = df[(df.state != "United States") & (df.sex != "All Sexes") & (df.age_group.isin(age_groups))]
df_clean.head()

,data_as_of,start_date,end_date,state,sex,age_group,covid-19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid-19_deaths,influenza_deaths,pneumonia_influenza_or_covid-19_deaths
67,02/03/2021,01/01/2020,01/30/2021,Alabama,Male,0-17 years,0,422,0,0,0,0
71,02/03/2021,01/01/2020,01/30/2021,Alabama,Male,18-29 years,18,881,13,0,0,29
73,02/03/2021,01/01/2020,01/30/2021,Alabama,Male,30-49 years,195,2920,171,66,0,305
76,02/03/2021,01/01/2020,01/30/2021,Alabama,Male,50-64 years,768,7373,568,242,30,1123
78,02/03/2021,01/01/2020,01/30/2021,Alabama,Male,65-74 years,1164,8456,881,410,26,1659

Write `df_clean` data frame into `covid.csv`, which is a `csv` file that will be saved to your current working  directory. Hint. Use `DataFrame.to_csv()`.

In [18]:
df_clean.to_csv('covid.csv', index = False)

Load `covid.csv` into the new data frame `df_covid`. Examine its shape.

In [19]:
df_covid = pd.read_csv('covid.csv', na_values = '?')

In [22]:
dfcovid.shape

(2661, 12)

Obtain descriptive statistics for the numric columns in the dataframe. Ude `DataFrame.describe()`

In [21]:
df_covid.describe()

,covid-19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid-19_deaths,influenza_deaths,pneumonia_influenza_or_covid-19_deaths
count,1113.000000,1113.000000,1113.000000,1113.000000,1113.000000,1113.000000
mean,379.577718,3178.478886,339.723270,179.695418,6.829290,546.695418
std,848.679164,6270.758560,759.971918,427.738412,16.658805,1187.716516
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,496.000000,15.000000,0.000000,0.000000,22.000000
75%,336.000000,3734.000000,332.000000,148.000000,0.000000,535.000000
max,6579.000000,64431.000000,6525.000000,3547.000000,202.000000,10004.000000

Obtain a list of states listed in the data frame. Hint. Use `unique()`.<br>Similarly, examine the list of unique values for `sex` and `age_group` variables.

In [23]:
# unique states
df_covid.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'New York City',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [26]:
# unique genders
df_covid.sex.unique()

array(['Male', 'Female', 'Unknown'], dtype=object)

In [28]:
# unique age_groups
df_covid.age_group.unique()

array(['0-17 years', '18-29 years', '30-49 years', '50-64 years',
       '65-74 years', '75-84 years', '85 years and over'], dtype=object)

Create the new column `covid_related` by summing up `covid-19_deaths` and `pneumonia_and_covid-19_deaths` for each record.

In [31]:
df_covid["covid_related"] = df_covid['covid-19_deaths'] + df_covid['pneumonia_and_covid-19_deaths']
df_covid[["covid-19_deaths", 'pneumonia_and_covid-19_deaths', "covid_related"]]

      covid-19_deaths  pneumonia_and_covid-19_deaths  covid_related
0                   0                              0              0
1                  18                              0             18
2                 195                             66            261
3                 768                            242           1010
4                1164                            410           1574
...               ...                            ...            ...
1108                0                              0              0
1109                0                              0              0
1110                0                              0              0
1111                0                              0              0
1112                0                              0              0

[1113 rows x 3 columns]

Update the state variable to "New York", in all records where state is "New York City". <br>Hint. Use `replace()`.

In [32]:
df_covid.replace({'state': "New York City"}, 'New York', inplace = True)

In [33]:
df_covid.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

Obtain total covid-19-related deaths (i.e., use `covid_related`) and total deaths by state. Use `groupby`. Name the returning object `grp_covid`.

In [34]:
grp_covid = df_covid.groupby('state')[['total_deaths', 'covid_related']].sum()
grp_covid

                      total_deaths  covid_related
state
Alabama                      66547          10392
Alaska                        4942            359
Arizona                      82697          18283
Arkansas                     40215           6858
California                  339443          64442
Colorado                     49861           8030
Connecticut                  35224           7251
Delaware                     11137           1414
District of Columbia          7680           2029
Florida                     257936          39379
Georgia                     106107          17395
Hawaii                       12647            543
Idaho                        17084           2344
Illinois                    137271          27370
Indiana                      78824          14164
Iowa                         36818           6777
Kansas                       33082           5741
Kentucky                     56961           7282
Louisiana                    57824          11182
Maine                        16695            764
Maryland                     63407          10618
Massachusetts                73513          15554
Michigan                    120332          19524
Minnesota                    54591           8394
Mississippi                  41224           8580
Missouri                     78614          11655
Montana                      12422           1982
Nebraska                     20593           3428
Nevada                       33253           7506
New Hampshire                14536           1303
New Jersey                  100904          28413
New Mexico                   23060           4387
New York                    215857          60431
North Carolina               80554           5815
North Dakota                  9026           2315
Ohio                        148326          23045
Oklahoma                     47111           7072
Oregon                       41435           2306
Pennsylvania                165749          29477
Puerto Rico                  28347           2551
Rhode Island                 12461           2864
South Carolina               59414           8015
South Dakota                 10451           2515
Tennessee                    93626          14202
Texas                       265149          57393
Utah                         23172           2498
Vermont                       6522            159
Virginia                     83814           9962
Washington                   65801           6174
West Virginia                23915           2708
Wisconsin                    65686           8896
Wyoming                       5787            730

Modify the `grp_covid` object obtained above to record the proportion of COVID-19-related deaths for each state.

In [39]:
grp_covid['covid_prop'] = round((grp_covid['covid_related'] / grp_covid['total_deaths']) * 100, 2)
grp_covid

                      total_deaths  covid_related  covid_prop
state
Alabama                      66547          10392       15.62
Alaska                        4942            359        7.26
Arizona                      82697          18283       22.11
Arkansas                     40215           6858       17.05
California                  339443          64442       18.98
Colorado                     49861           8030       16.10
Connecticut                  35224           7251       20.59
Delaware                     11137           1414       12.70
District of Columbia          7680           2029       26.42
Florida                     257936          39379       15.27
Georgia                     106107          17395       16.39
Hawaii                       12647            543        4.29
Idaho                        17084           2344       13.72
Illinois                    137271          27370       19.94
Indiana                      78824          14164       17.97
Iowa                         36818           6777       18.41
Kansas                       33082           5741       17.35
Kentucky                     56961           7282       12.78
Louisiana                    57824          11182       19.34
Maine                        16695            764        4.58
Maryland                     63407          10618       16.75
Massachusetts                73513          15554       21.16
Michigan                    120332          19524       16.23
Minnesota                    54591           8394       15.38
Mississippi                  41224           8580       20.81
Missouri                     78614          11655       14.83
Montana                      12422           1982       15.96
Nebraska                     20593           3428       16.65
Nevada                       33253           7506       22.57
New Hampshire                14536           1303        8.96
New Jersey                  100904          28413       28.16
New Mexico                   23060           4387       19.02
New York                    215857          60431       28.00
North Carolina               80554           5815        7.22
North Dakota                  9026           2315       25.65
Ohio                        148326          23045       15.54
Oklahoma                     47111           7072       15.01
Oregon                       41435           2306        5.57
Pennsylvania                165749          29477       17.78
Puerto Rico                  28347           2551        9.00
Rhode Island                 12461           2864       22.98
South Carolina               59414           8015       13.49
South Dakota                 10451           2515       24.06
Tennessee                    93626          14202       15.17
Texas                       265149          57393       21.65
Utah                         23172           2498       10.78
Vermont                       6522            159        2.44
Virginia                     83814           9962       11.89
Washington                   65801           6174        9.38
West Virginia                23915           2708       11.32
Wisconsin                    65686           8896       13.54
Wyoming                       5787            730       12.61

Derive the absolute rank and the rank in percentile terms for states, according to the proportion of COVID-19 cases.<br>Refer to Pandas documemtation on [DataFrame.rank()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html).

In [43]:
grp_covid['rank'] = grp_covid["covid_prop"].rank(ascending = False, method = 'min')
grp_covid['pct_rank'] = grp_covid["covid_prop"].rank(ascending = False, method = 'min', pct = True)
grp_covid.sort_values(by = 'rank', inplace = True)
grp_covid

                      total_deaths  covid_related  covid_prop  rank  pct_rank
state
New Jersey                  100904          28413       28.16   1.0  0.019231
New York                    215857          60431       28.00   2.0  0.038462
District of Columbia          7680           2029       26.42   3.0  0.057692
North Dakota                  9026           2315       25.65   4.0  0.076923
South Dakota                 10451           2515       24.06   5.0  0.096154
Rhode Island                 12461           2864       22.98   6.0  0.115385
Nevada                       33253           7506       22.57   7.0  0.134615
Arizona                      82697          18283       22.11   8.0  0.153846
Texas                       265149          57393       21.65   9.0  0.173077
Massachusetts                73513          15554       21.16  10.0  0.192308
Mississippi                  41224           8580       20.81  11.0  0.211538
Connecticut                  35224           7251       20.59  12.0  0.230769
Illinois                    137271          27370       19.94  13.0  0.250000
Louisiana                    57824          11182       19.34  14.0  0.269231
New Mexico                   23060           4387       19.02  15.0  0.288462
California                  339443          64442       18.98  16.0  0.307692
Iowa                         36818           6777       18.41  17.0  0.326923
Indiana                      78824          14164       17.97  18.0  0.346154
Pennsylvania                165749          29477       17.78  19.0  0.365385
Kansas                       33082           5741       17.35  20.0  0.384615
Arkansas                     40215           6858       17.05  21.0  0.403846
Maryland                     63407          10618       16.75  22.0  0.423077
Nebraska                     20593           3428       16.65  23.0  0.442308
Georgia                     106107          17395       16.39  24.0  0.461538
Michigan                    120332          19524       16.23  25.0  0.480769
Colorado                     49861           8030       16.10  26.0  0.500000
Montana                      12422           1982       15.96  27.0  0.519231
Alabama                      66547          10392       15.62  28.0  0.538462
Ohio                        148326          23045       15.54  29.0  0.557692
Minnesota                    54591           8394       15.38  30.0  0.576923
Florida                     257936          39379       15.27  31.0  0.596154
Tennessee                    93626          14202       15.17  32.0  0.615385
Oklahoma                     47111           7072       15.01  33.0  0.634615
Missouri                     78614          11655       14.83  34.0  0.653846
Idaho                        17084           2344       13.72  35.0  0.673077
Wisconsin                    65686           8896       13.54  36.0  0.692308
South Carolina               59414           8015       13.49  37.0  0.711538
Kentucky                     56961           7282       12.78  38.0  0.730769
Delaware                     11137           1414       12.70  39.0  0.750000
Wyoming                       5787            730       12.61  40.0  0.769231
Virginia                     83814           9962       11.89  41.0  0.788462
West Virginia                23915           2708       11.32  42.0  0.807692
Utah                         23172           2498       10.78  43.0  0.826923
Washington                   65801           6174        9.38  44.0  0.846154
Puerto Rico                  28347           2551        9.00  45.0  0.865385
New Hampshire                14536           1303        8.96  46.0  0.884615
Alaska                        4942            359        7.26  47.0  0.903846
North Carolina               80554           5815        7.22  48.0  0.923077
Oregon                       41435           2306        5.57  49.0  0.942308
Maine                        16695            764        4.58  50.0  0.961538
Hawaii                       12647            543        4.29  51.0  0.980769
Vermont                       6522            159        2.44  52.0  1.000000

Use a pivot table (i.e., `pt_covid`) to show the total number of covid related deaths by state, gender and age group. Set state and gender as index and age group for columns.

Select Pennsylvania from the pivot table `pt_covid` above. .<br>Hint. Use `loc`.

 Use a crosstab to show the proportion of total deaths by gender for each state. Use the `aggfunc` and `normalize` parameters.<br>Refer to the Pandas documentation on crosstab [here](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html).